/*Imported closest resemblant font from fonts.google.com*/

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@600&display=swap');

/*Added the font to the body, set the background to black and nav links to white*/

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
} 

/*Get rid of the underlines and bullet points on the nav bar li*/

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

/*Styling the nav bar to make it fixed to the top left of the page and center align it*/

.mainNavBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;
    padding: 0 30px;
}

/* Resizing the logo of the spacex image that I pulled from google*/

.spaceXLogo {
    width: 210px;
    height: auto;
}

.spaceXLogo img {
    width: 100%;
}

/*Navbar*/

.mainNavBar {
    text-align: right;
}

.mainNavBar ul {
display: flex;
}

.mainNavBar ul li {
    position: relative;
    margin-right: 20px;
}


/*Hamburger Icon*/

.hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    width: 20px;
    height: 20px;
    z-index: 10;
    background: none;
    border: none;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
}

.hamburger-middle {
    transform: translateY(5px);
}

.hamburger-bottom {
    transform: translateY(10px);
}

/*Styling of each section for every mainPage# section*/

.mainPage1 {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPage2 {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPage3 {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPage4 {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPage5 {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Images for the section backgrounds*/

.mainPage1 {
    background-image: url(mainPage1.jpeg);
}

.mainPage2 {
    background-image: url(mainPage2.jpeg);
}

.mainPage3 {
    background-image: url(mainPage3.jpeg);
}

.mainPage4 {
    background-image: url(mainPage4.jpeg);
}

.mainPage5 {
    background-image: url(mainPage5.jpeg);
}
/*Main page contents and fake button usingn a border tag*/

.page {
    position: absolute;
    bottom: 250px;
    left: 200px;
}

.page h4 {
    font-size: 50px;
    margin-bottom: 10px;
    border-style: solid;
    text-align: center;
}

.page h2 {
    font-size: 100px;
    margin-bottom: 10px;
}


/*Footer*/
footer {
    position: relative;
    padding: 30px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer ul li {
    margin-right: 30px;
}


